# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements
.env
venv/
project_env/

# Fichiers système
.DS_Store
Thumbs.db

# Tests et logs
.pytest_cache/
*.log

# Exports et data
exports/
data/
project_env
data.csv
data.json
data.db